*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header{
  height: 50px;
  background-color: #FF9A4B;
  }
main{
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.box{
width: 300px;
position: relative;
background-color: #EEEEEE;
padding: 10px;
margin-right: 30px;
}

.box-img1{
  background-image: url(img/flow01.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}
.box-img2{
  background-image: url(img/flow02.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.box-img3{
  background-image: url(img/flow03.png);
  height: 150px;
  background-position: bottom;
  background-size: cover;
}

.box-step{
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF9A4B;
  color: #EEEEEE;
}


.title{
  margin: 15px 0 5px;
}

footer{
  height: 50px;
  background-color: #aaaaaa;
  
}